fastapi==0.115.11
pandas==2.2.3
numpy==2.0.2
scikit-learn==1.6.1
torch==2.6.0
uvicorn==0.34.0
transformers==4.49.0
openai==1.65.5
requests==2.32.3
aiohttp==3.11.13
sqlalchemy==2.0.38
streamlit==1.43.1
jupyterlab==4.3.5
langchain
langchain-community
